__pycache__/
copy/

# env files with text AFTER the dot (env.*)
#      are included as configuration samples.
# env files with text BEFORE the dot (*.env)
#      are used for real and left out of repo.
*.env