{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Plants Database</title>
  <link rel="stylesheet" href="{% static 'PlantsPage/style.css' %}">
</head>
<body>

<!-- Plants Feed -->
<main class="plants">
  <h1>Plants of the World</h1>
  <ul class="plants--list">

    {% for plant in plants %}
    <li class="plants--item">
      <h3 class="plants--common-name">{{plant.common_name}}</h3>
      <h4 class="plants--latin-name">{{plant.latin_name}}</h4>
      <div class="plants--img-wrapper"></div>
      <img class="plants--img" src="{{plant.image_url}}" alt="{{plant.common_name}}: {{plant.latin_name}}">
    </li>
    {% endfor %}

  </ul>
</main>

<footer>Images are owned by their respective copyright holders and are displayed for educational purposes only.</footer>

</body>
</html>