{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Plants Database</title>
  <link rel="stylesheet" href="{% static 'plants-page.css' %}">
</head>
<body>

<!-- Plants Feed -->
<main class="plants">
  <h1>Plants of the World</h1>
  <ul class="plants--list">
    <li class="plants--item">
      <h3 class="plants--common-name">Sweet Basil</h3>
      <h4 class="plants--latin-name">Ocimum basilicum</h4>
      <div class="plants--img-wrapper"></div>
      <img class="plants--img" src="{% static 'temp_plant.png' %}">
    </li>
    <li class="plants--item">
        <h3 class="plants--common-name">Sweet Basil</h3>
        <h4 class="plants--latin-name">Ocimum basilicum</h4>
        <div class="plants--img-wrapper"></div>
        <img class="plants--img" src="{% static 'temp_plant.png' %}">
      </li>
      <li class="plants--item">
        <h3 class="plants--common-name">Sweet Basil</h3>
        <h4 class="plants--latin-name">Ocimum basilicum</h4>
        <div class="plants--img-wrapper"></div>
        <img class="plants--img" src="{% static 'temp_plant.png' %}">
      </li>
      <li class="plants--item">
        <h3 class="plants--common-name">Sweet Basil</h3>
        <h4 class="plants--latin-name">Ocimum basilicum</h4>
        <div class="plants--img-wrapper"></div>
        <img class="plants--img" src="{% static 'temp_plant.png' %}">
      </li>
      <li class="plants--item">
        <h3 class="plants--common-name">Sweet Basil</h3>
        <h4 class="plants--latin-name">Ocimum basilicum</h4>
        <div class="plants--img-wrapper"></div>
        <img class="plants--img" src="{% static 'temp_plant.png' %}">
      </li>
      <li class="plants--item">
        <h3 class="plants--common-name">Sweet Basil</h3>
        <h4 class="plants--latin-name">Ocimum basilicum</h4>
        <div class="plants--img-wrapper"></div>
        <img class="plants--img" src="{% static 'temp_plant.png' %}">
      </li>
      <li class="plants--item">
        <h3 class="plants--common-name">Sweet Basil</h3>
        <h4 class="plants--latin-name">Ocimum basilicum</h4>
        <div class="plants--img-wrapper"></div>
        <img class="plants--img" src="{% static 'temp_plant.png' %}">
      </li>
      <li class="plants--item">
        <h3 class="plants--common-name">Sweet Basil</h3>
        <h4 class="plants--latin-name">Ocimum basilicum</h4>
        <div class="plants--img-wrapper"></div>
        <img class="plants--img" src="{% static 'temp_plant.png' %}">
      </li>
      <li class="plants--item">
        <h3 class="plants--common-name">Sweet Basil</h3>
        <h4 class="plants--latin-name">Ocimum basilicum</h4>
        <div class="plants--img-wrapper"></div>
        <img class="plants--img" src="{% static 'temp_plant.png' %}">
      </li>

  </ul>
</main>

</body>
</html>